<router-outlet></router-outlet>
  <footer>
    <div class="footer-bottom custom-container">
      <section class="footer-uls custom-container">
          <ul>
              <li>
                  <a>
                      <img src="./../assets/web/linkedin.svg">
                  </a>
                </li>
                <li>
                    <a>
                      <img src="./../assets/web/facebook.svg">
                    </a>
                  </li>
            </ul>
            © 2019 Greeb, Inc.
      </section>
    </div>
  </footer>
  
