<section style="overflow:hidden;position: relative;" class="">
  <div class="top-wrapper" style="background: url(./../assets/img/Hero_BG-min.jpg);">
   
    <svg 
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="30.162cm" height="30.162cm">
   <defs>
   <linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
     <stop offset="0%" stop-color="rgb(22,133,251)" stop-opacity="1" />
     <stop offset="100%" stop-color="rgb(0,81,168)" stop-opacity="1" />
   </linearGradient>
   
   </defs>
   <path fill-rule="evenodd"  opacity="0.651" fill="url(#PSgrad_0)"
    d="M11.588,488.791 L175.594,91.098 C206.413,16.368 291.977,-19.230 366.707,11.589 L764.400,175.595 C839.130,206.413 874.728,291.978 843.909,366.708 L679.903,764.400 C649.085,839.131 563.520,874.729 488.790,843.910 L91.098,679.904 C16.367,649.085 -19.231,563.521 11.588,488.791 Z"/>
   </svg>
   
    <nav class="navbar container navbar-expand-md navbar-dark ">
      <a class="navbar-brand" href="#">
        <img class="white-logo" src="./../assets/logo.png">
        <!-- <img class="white-logo"  src="./../assets/img/Bonsai_Logo_White-min.png"> -->
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto float-right justify-content-end" style="width:100%">
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/corporate'">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link download-now" href="#"> Download Now</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row top-corporate-wrapper">
        <div class="col-lg-6 col-md-6 top-block">
        <section class="letter-blocks">
            <p>We are building the</p>
            <p>future of WebSite</p>
            <p>and Mobile Application</p>
            <p>UI/UX Design.</p>
        </section>
        <section>
          <div class="row logos-blocks">
            <section class="col-lg-12">
              <div class="trustedby">Trusted By</div>
              <div class="logos-item">
                  <a class="logo-item">
                      <img style="max-width:78px;" src="./../assets/img/COMPLEX_W-min.png">
                  </a>
                  <a class="logo-item">
                      <img style="max-width:98px;" src="./../assets/img/Men_s_Health_logo_white-min.png">
                  </a>
                  <a class="logo-item">
                      <img style="max-width:112px;" src="./../assets/img/rolling_stone_logo_w-min.png">
                  </a>
                  <a class="logo-item">
                      <img style="max-width:70.67px;" src="./../assets/img/Variety_Logo_W-min.png">
                  </a>
                  <a class="logo-item">
                      <img  style="max-width:80.67px;" src="./../assets/img/esquire-logo-w-min.png">
                  </a>
                  <a class="logo-item">
                      <img style="max-width:50px;" src="./../assets/img/ELLE_Magazine_Logo-min.png">
                  </a>
                </div>
            </section>
          </div>

        </section>
        </div>
        <div class="col-lg-6 d-flex justify-content-center  col-md-6">
            <img src="./../assets/img/Hero_Mock-min.png" class="hero-img reveal2">
        </div>
      </div>

    </div>
  </div>

  <section class="row section1 top-men" style="margin-right: 0px;">
      <div class="col-lg-6 order-xs-2 order-sm-2 order-md-2 order-lg-1 col-md-12">
        <img src="./../assets/img/Phones_mock-min.png"  style="max-width: 774px;width: 111%;">
      </div>


      <div class="col-lg-6 col-md-12 order-md-1 order-sm-1 order-xs-1 order-lg-2 section-letters ">
        <div class="letters-men">
            <p>Our Services</p>
        </div>
        <div class="letters-thousands">
          <p>We help clients to design and develop future-proof,</p>
          <p>significant and secure digital products that are centered</p>
          <p> around users’ needs and fulfil clients’ business goals.</p>
        </div>
        <!-- <div class="trophy-svg">
          <img src="./../assets/img/Trophy.svg">  iOS APP STORE    
        </div> -->
      </div>
  </section>

  <section class="grey-bg">


  <div class="container">
    <div class="row section2 power-commerce">
        <div class="col-lg-6  order-xs-2 order-sm-2 order-md-2 order-lg-1 section2-letter ">
          <div class="section2-letter1">
            <p>We power commerce for </p>
            <p>influential media</p>
          </div>
          <div class="section2-letter2">
              <p>Whether its through our app or by using our Widget 
              Builder, Greeb is the commerce partner for the most 
              trustworthy voices in media.</p>
          </div>
        </div>
        <div class="col-lg-6  order-xs-1 order-sm-1 order-md-1 order-lg-2 section2-img">
            <img src="./../assets/img/Widget_Builder-min.png" style="width: 128%;
            margin-left: -55px;"> 
        </div>
    </div>
  </div>

  </section>
  <div class="container">
    <div class="row section3">
      <div class="col-lg-6 section3-img">
          <img src="./../assets/img/Xhibition_Mock-min.png" class="" style="width: 115%;margin-left: -38px;"> 
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 section3-letter ">
        <div class="section3-letter1">
            <p>We help merchants sell</p>
            <p>more with mobile</p>
        </div>
       
        
        <div class="section3-letter2">
            <p>Retailers of all sizes use Greeb to place products inside and around the world’s leading content.
            
        </div>
        <div class="section3-letter3">
            <p>
              <span><img src="./../assets/img/Quotation_mark_L.svg"></span>Greeb has its sights on the convergence of editorial media and millennial shopping. We love working with them. <span><img src="./../assets/img/Quotation_mark_R.svg"></span></p>
        </div>
        
        <div class="section3-letter4">
          <div class="row">
            <div >
                <img src="./../assets/img/Jay Yoo-min.jpg" > 
            </div>
            <div class="col-lg-10">
              <div class="section3-letter4-1"><p>Jay Yoo</p></div>
              <div class="section3-letter4-2"><p>Director of E-Commerce | Xhibition Co.</p></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>   
  <section class="section-meet">
    <div >
      <div class="section-meet-letter container">
        <p class="letter1">Meet Greeb</p>
        <p class="letter2">Get to know the people building the future of website and mobile</p>
      </div>
    </div>
  </section>

</section>

<section class="leadership grey-bg">
  <div class="container"  id="team">
      <h4 class="title-leadership">Our Team</h4>
      <div class="row">
        <section class="col-lg-4 col-md-6">
          <div class="leadership-item ">

            <div class="avatar">
                <img src="./../assets/employee/bonsai-headshots-saad.jpg">
            </div>
            <div class="text">
              <h4>Taixing Wang</h4>
              <p>CEO & Founder<br>Lead Developer</p>
            </div>
          </div>
        </section>
        <section class="col-lg-4 col-md-6">
            <div class="leadership-item ">
               <div class="avatar">
                   <img src="./../assets/employee/bonsai-headshots-michael-la-b.jpg">
               </div>

               <div class="text">
                 <h4>Michael La Brier</h4>
                 <p>Back End Developer</p>
               </div>
            </div>
        </section>

        <section class="col-lg-4 col-md-6">
            <div class="leadership-item ">
                <div class="avatar">
                    <img src="./../assets/employee/bonsai-headshots-michael-caruso.jpg">
                </div>
                <div class="text">
                  <h4>Michael Caruso</h4>
                  <p>Front End & UI/UX designer</p>
                </div>
            </div>
       </section>

      </div>
  </div>

</section>

<div class="bonsai-block  grey-bg">
    <div class="container">
      <div class="bonsai-item">
        <div class="bonsai-item-position">
              <h4>We’re waiting</h4>
              <p>in Shanghai</p>
              <a href="#">View Openings</a>
        </div>
            <img src="./../assets/img/Hiring.png">
      </div>
    </div>
</div>

<div class="mission-block ">
  <section class="container ">
    <div class="grey-bg">
      <h4><span class="h4-line"></span>
        <span>OUR WORKS</span>
        <span class="h4-line"></span>
      </h4>
      <div class="row portfolio-img">
        <div class="col-4">
          <img class="mission-block-main-img pgs-click" src="./../assets/img/pgs-soft.png"> 
        </div>
        <div class="col-4">
            <img class="mission-block-main-img home-click" src="./../assets/img/home.png">
        </div>
        <div class="col-4">
            <img class="mission-block-main-img sibi-click" src="./../assets/img/sibi.jpg">
        </div>
      </div>
      <div class="row portfolio-img">
          <div class="col-4">
              <img class="mission-block-main-img wonder-click" src="./../assets/img/wonderlandams.png">
          </div>
          <div class="col-4">
              <img class="mission-block-main-img verity-click" src="./../assets/img/veritystudios.png">
          </div>
          <div class="col-4">
              <img class="mission-block-main-img doman-click" src="./../assets/img/Doman.png">
          </div>
        </div>
    </div>
  </section>
 
</div>
