/* You can add global styles to this file, and also import other style files */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');


html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media (min-width: 1200px){
    .container {
        max-width: 100%!important;
        padding: 0 100px;
    }
   
}
 .custom-container{
      max-width: 1281px;
      margin: 0 auto;
      width: 100%;
      padding: 20px;
}

.no-padding{
  padding: 0!important;
}

.grey-bg{
  background: #f7f7f7;
}
.bonsai-item{
  position: relative;
  margin-bottom: 97px;
  margin-top: 97px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 330px;
    background-size: cover;
  

  img{
    width: 100%;
    min-height: 234px;
    max-width: 100%;
  }

  @media (max-width:1024px) {
    margin: 0 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .bonsai-item-position{
    position: absolute;
    left: 90px;
    top:84px;
    color: #D5D9E1;	
    font-family: Inter;	
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;

    @media (max-width:1024px) {

        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        left: 50%;

        h4{
          font-size: 30px!important;
        }
    }


    p,h4{
      margin: 0;
    }

    h4{
      font-size: 46px;
    }


    a{
      height: 60px;
      width: 210px;
      border-radius: 6px;
      background-color: #FFFFFF;
      color: #272B3D;	
      font-family: Inter;	
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-top: 39px;
    }
    h4{
      color: white;
    }
  }
}


@media (max-width:992px){
  .justify-content-center-md{
     justify-content: center!important;
 }
}



@keyframes mymove {
  from {
    visibility: hidden;
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    visibility: visible;
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
    opacity: 1;
  }
}

.header-anim {
  visibility: hidden;
  transform: translateY(50px);
  opacity: 0;
  -webkit-animation: mymove 2s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation: mymove 2s forwards;
  animation-delay: 1s;
}

.reveal{
  visibility: hidden;
}

// .header-anim-action {
  
//   -webkit-transition: -webkit-transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
//   transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
// }
.navbar-toggler{
outline: none;
}

















 
